body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

.photo {
  content: url('http://vignette4.wikia.nocookie.net/nintendo/images/4/43/Bulbasaur.png/revision/latest?cb=20141002083518&path-prefix=en');
  height: 200px;
  width: 200px;
  float: left;
}