<div id='container'>
  <div class='navigation'>
    <ul>
      <li><a href="#/board" class='index'>My Board</a></li>
      <li><a href="#/upload" class='upload'>Upload</a></li>
      <li><a href="#/game" class='game'>Play</a></li>
    </ul>
    <a href ng-click='logout()' class='logout'>Logout</a>
  </div>

  <div class='card' ng-repeat='photo in data.photos'>
    <img class='photo' src='{{photo.img}}'/>

<!--   <table style="width:100%">
    <tr>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
    </tr>
    <tr>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
    </tr>
    <tr>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
    </tr>
    <tr>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
      <td class="photo" ></td>
    </tr>
  </table> -->
  </div>

</div>