<div id='container'>
  <div class='navigation'>
    <ul>
      <li><a href="#/board" class='index'>My Board</a></li>
      <li><a href="#/upload" class='upload'>Upload</a></li>
      <!-- <li><a href="#/game" class='game'>Play</a></li> -->
    </ul>
  </div>

  <div class='board' ng-repeat='photo in randomSix track by $index'>
    <container class='card'>
      <img class='flip' src='{{photo.img}}' ng-show="photo.showme"/>
      <a href="" ng-click="photo.showme=true; incrementCount()">Show</a>
      <button ng-click="photo.showme=false">Hide</button> 
    </container>
  </div>

</div>

<!-- ng-if="showDelete(photo.status)" -->